<div class="box-table mat-elevation-z8" *ngIf="!listInBox">
    <table mat-table [dataSource]="dataSource" [ngStyle]="{'width': widhtScreen}">
        <ng-container *ngFor="let column of columns">

            <ng-container [matColumnDef]="column.label" *ngIf="column.label != 'Opções'" [sticky]="column.sticky"
                [stickyEnd]="column.stickyEnd">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style">
                    <span *ngIf="column.label">
                        {{column.label}}
                    </span>
                </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="column.style">

                    <a *ngIf="isLink(element[column.label])" [href]="element[column.label].link" target="_blank"
                        [ngStyle]="element[column.label]?.style">

                        <mat-icon *ngIf="element[column.label]?.icon">
                            {{ element[column.label].icon }}
                        </mat-icon>
                        <span *ngIf="element[column.label]?.value">
                            {{ element[column.label].value }}
                        </span>
                    </a>

                    <span *ngIf="!isLink(element[column.label]) && !element[column.label]?.action"
                        [ngStyle]="element[column.label]?.style">
                        {{ element[column.label]?.value || element[column.label] }}
                    </span>

                </td>
            </ng-container>

            <ng-container [matColumnDef]="column.label" *ngIf="column.label == 'Opções'" [sticky]="column.sticky"
                [stickyEnd]="column.stickyEnd">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style"> {{column.label}} </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="column.style">
                    <mat-menu #optionMenu="matMenu" xPosition="before">
                        <span *ngFor="let opt of element[column.label]">
                            <button mat-menu-item (click)="onMenuClick(element, opt.name)">
                                <mat-icon>{{opt.icon}}</mat-icon>{{opt.name}}
                            </button>
                        </span>
                    </mat-menu>

                    <button mat-icon-button aria-label="Opções" [matMenuTriggerFor]="optionMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>

        </ng-container>

        <div>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: sticky"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </div>

    </table>

    <mat-paginator *ngIf="pagination?.total > 0" [pageSizeOptions]="pagination.page" [length]="pagination.total"
        [pageSize]="pagination.page" (page)="onPaginatorNavigate($event)"> </mat-paginator>
</div>

<table *ngIf="listInBox" mat-table [dataSource]="dataSource" [ngStyle]="{'width': widhtScreen}">
    <ng-container *ngFor="let column of columns">

        <ng-container [matColumnDef]="column.label" *ngIf="column.label != 'Opções'" [sticky]="column.sticky"
            [stickyEnd]="column.stickyEnd">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style">
                <span *ngIf="column.label">
                    {{column.label}}
                </span>
            </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="column.style">
                <span *ngIf="element[column.label]?.style" [ngStyle]="(element[column.label]?.style)">
                    {{ (element[column.label]?.value) ? element[column.label].value : element[column.label] }}
                </span>
                <span *ngIf="!element[column.label]?.style">
                    {{ (element[column.label]?.value) ? element[column.label].value : element[column.label] }}
                </span>
            </td>
        </ng-container>

        <ng-container [matColumnDef]="column.label" *ngIf="column.label == 'Opções'" [sticky]="column.sticky"
            [stickyEnd]="column.stickyEnd">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style"> {{column.label}} </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="column.style">
                <mat-menu #optionMenu="matMenu" xPosition="before">
                    <span *ngFor="let opt of element[column.label]">
                        <button mat-menu-item (click)="onMenuClick(element, opt.name)">
                            <mat-icon>{{opt.icon}}</mat-icon>{{opt.name}}
                        </button>
                    </span>
                </mat-menu>

                <button mat-icon-button aria-label="Opções" [matMenuTriggerFor]="optionMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </td>
        </ng-container>

    </ng-container>

    <div>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: sticky"></tr>
    </div>

</table>