div {
  margin: 10px;
}

.box-table {
  margin: 10px;
  margin-top: 50px;
  background-color: #fff;
  max-width: 100%;
  overflow: auto;
  max-height: 635px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

th {
  color: #566869!important;
  font-weight: bolder!important;
  background-color: #eee!important;
}

th,
td {
  text-align: left;
  padding: 0px;
  padding-left: 16px !important;
  font-weight: normal!important;
  white-space: nowrap;
}

.td-bd-left,
.th-bd-left {
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
}

.td-bd-left:before,
.th-bd-left:before {
  content: "\00a0";
}

.td-bd-first,
.th-bd-first {
  padding-left: 10px;
  padding-right: 10px;
}

td {
  color: #566869;
}

tr:hover {
  background-color: #fbfbfb !important;
  font-weight: 700 !important;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
  background: #eee;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
  background: #eee;
}



mat-icon, .mat-icon {
  color: #757575;
}