.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999 !important;
}

.principal {
    z-index: 999 !important;
    background-color: #683ab7;
    color: #FFF
}

.navigation {
    box-shadow: 0px 3px 5px #A9A9A9;
}

.example-spacer {
    flex: 1 1 auto;
}