<div class="header">
    <mat-toolbar class="principal">
        <span>{{title}}</span>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <div>
    <mat-toolbar class="navigation">
        <button mat-button (click)="onHistoria()">
            <mat-icon>import_contacts</mat-icon> Histórias
        </button>
        <button mat-button (click)="onNode()">
            <mat-icon>circle_circle</mat-icon> Nós
        </button>
        <button mat-button (click)="onLink()">
            <mat-icon>link</mat-icon> Links
        </button>
    </mat-toolbar>
</div>
</div>